body {
	background-color: rgba(50, 50, 50, 1);
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: white;
	text-align: center;
}
form {
	display: flex;
	justify-content: center;
}
input {
	height: 30px;
	padding-left: 10px;
	border-radius: 10px;
	display: inline;
}
button {
	background-color: gray;
	border-radius: 10px;
	color: white;
}
#remove {
	background-color: orangered;
	color: white;
}
#remove:hover {
	background-color: rgba(200, 69, 0, 1);
}
button:hover {
	background-color: rgb(98, 98, 98);
}
#gifs {
	width: 100vw;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
